<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout04}">
<head>
  <meta charset="UTF-8">
  <link href="/css/product.css" rel="stylesheet">
  <title>Community - Post</title>
</head>
<body>

<div layout:fragment="content">

  <input type="hidden" id="postId" th:value="${post.id}">
    <div class="titleContainer">
      <a th:if="${post.writer == user}" style="margin: 0; text-align: left;" th:href="'/community/post/' + ${postId}" class="edit" sec:authorize="hasAnyAuthority('ROLE_USER', 'ROLE_ADMIN')">← 글 수정하기</a>
      <span th:text="${post.title}" style="font-weight: 500; font-size: 20px;"></span>
      <span th:text="'글쓴이 ' + ${post.writer}" style="width: 590px; text-align: right; font-weight: 360; font-size: 13px;"></span>
      <span th:text="'조회수 ' + ${post.hits}" style="width: 590px; text-align: right; font-weight: 300; font-size: 12px;"></span>
    </div>
      <div class="postContainer">
        <div class="detailFormTop">
          <div id="carouselExample" style="width: 600px;" class="carousel slide col-md-8" data-bs-ride="carousel">
            <div class="carousel-inner" style="width: 600px;">
              <div class="carousel-item active" th:if="${post.postImgDtoList[0].imgUrl != ''}">
                <img class="d-block w-100" style="object-fit: cover; margin-top: 30px;" th:src="${post.postImgDtoList[0].imgUrl}" th:alt="${post.title}" width="600" />
              </div>
              <div class="carousel-item" th:each="postImg, postStat : ${post.postImgDtoList}" th:if="${postStat.index > 0}" th:unless="${postStat.first}">
                <img class="d-block w-100" style="object-fit: cover; margin-top: 30px;" th:src="${postImg.imgUrl}" th:alt="${post.title}" width="600" />
              </div>
            </div>
            <a style="margin-top: 30px;" class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a style=" margin-top: 30px;" class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>

          <span th:text="${post.content}" style="width: 590px; text-align: left; margin-top: 20px; margin-bottom: 20px;"></span>

        <hr style="width: 80%; color: solid 1px rgba(233, 233, 233, 0.722); margin: 10px auto 30px auto;" />

      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

      </div>

</div>

</body>
</html>