<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar">

  <nav class="navbar navbar-expand-lg" style="background-color: white; padding-bottom: 30px;">
    <div class="subnav collapse navbar-collapse" id="navbarSupportedContent">
      <div>
        <ul class="menu navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="/community/notice" style="margin-left: 50px;">공지사항</a></li>
          <li class="nav-item"><a class="nav-link" href="/community/question" style="margin-left: 50px;">질문해요</a></li>
          <li class="nav-item"><a class="nav-link" href="/community/gallery" style="margin-left: 50px;">자랑해요</a></li>
          <li class="nav-item"><a class="nav-link" href="/community/deal" style="margin-left: 50px;">중고거래</a></li>
          <li class="nav-item"><a class="nav-link" href="/community/dictionary" style="margin-left: 50px;">식물도감</a></li>
        </ul>
      </div>
    </div>
  </nav>

</div>

</html>