<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout03}">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <link href="/css/content.css" rel="stylesheet">
  <title>My page - Order History</title>
</head>
<body>

<div layout:fragment="content">

<div>

  <table class="postTable" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-bottom: 40px;">
    <thead>
    <tr>
      <th class="orderDetailHead" width="10%">주문 번호</th>
      <th class="orderDetailHead" width="10%">주문 날짜</th>
      <th class="orderDetailHead" width="40%">상품 정보</th>
      <th class="orderDetailHead" width="10%">상품 가격</th>
      <th class="orderDetailHead" width="5%">수량</th>
      <th class="orderDetailHead" width="25%">상태</th>
    </tr>
    </thead>
    <tbody>
    <tr style="margin-top: 10px; margin-bottom: 100px;" th:each="order : ${orders.getContent()}">
      <td th:text="'01000' + ${order.orderId}"></td>
      <td th:text="${order.orderDate}"></td>
      <td>
        <div style="display: flex; flex-direction: column; padding-left: 120px;">
          <div th:each="orderItem : ${order.orderItemDtoList}" style="display: flex; align-items: center; margin: 10px 0px 10px 0px;">
            <img style="object-fit: cover; float: left;" th:src="${orderItem.imgUrl}" th:alt="${orderItem.itemName}" width="80" height="80">
            <div style="display: flex; flex-direction: column; align-items: flex-start;">
              <span th:text="${orderItem.itemName}" style="margin-left: 10px; font-weight: 500;"></span>
              <span th:text="${orderItem.itemBrand}" style="margin-left: 10px;"></span>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div th:each="orderItem : ${order.orderItemDtoList}" style="padding-bottom: 40px; padding-top: 40px;">
          <span th:text="${#numbers.formatInteger(orderItem.orderPrice, 0, 'COMMA')} + '원'"></span>
        </div>
      </td>
      <td>
        <div th:each="orderItem : ${order.orderItemDtoList}" style="padding-bottom: 40px; padding-top: 40px;">
          <span th:text="${orderItem.count} + '개'" ></span>
        </div>
      </td>
      <td>
        <th:block th:if="${order.orderStatus == T(com.green.project.constant.OrderStatus).ORDER}">주문 확인 중
          <button type="button" class="buttonSet" style="width: 70px; height: 32px; margin: 0px 0px 0px 8px; font-weight: 400;" th:value="${order.orderId}" onclick="cancelOrder(this.value)">주문 취소</button>
        </th:block>
        <th:block th:unless="${order.orderStatus == T(com.green.project.constant.OrderStatus).ORDER}">
          주문 취소 완료
        </th:block></td>
    </tr>
    </tbody>
  </table>

</div>

  <div style="display: flex; justify-content: center; margin-top: 10px;" th:with="start=${(orders.number/maxPage) * maxPage + 1}, end = (${(orders.totalPages == 0) ? 1 : (start + (maxPage - 1) < orders.totalPages ? start + (maxPage - 1) : orders.totalPages)})">
    <nav aria-label="Page navigation example">
      <ul class="pagination pagination-sm">

        <li class="page-item" th:classappend="${orders.first} ? 'disabled'">
          <a style="color: #2b2f2f;" class="page-link" aria-label="Previous"
             th:onclick="'javascript:page(' + ${orders.number - 1} + ')'">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${orders.number eq page-1} ? 'active' : ''">
          <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" style="color: #2b2f2f;" class="page-link">[[${page}]]</a>
        </li>

        <li class="page-item" th:classappend="${orders.last} ? 'disabled'">
          <a style="color: #2b2f2f;" class="page-link" aria-label="Next"
             th:onclick="'javascript:page(' + ${orders.number + 1} + ')'">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>

      </ul>
    </nav>
  </div>

</div>

<th:block layout:fragment="script">

  <script th:inline="javascript">
        function cancelOrder(orderId) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order/" + orderId + "/cancel";
            var paramData = {
                orderId : orderId,
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr) {
                    /* 데이터를 전송하기 전에 헤더에 csrf 값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status) {
                    alert("주문이 취소 되었습니다.");
                    location.href='/my-page/order-history/' + [[${page}]];
                },
                error : function(jqXHR, status, error) {
                    if(jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요.');
                        location.href='/member/login';
                    } else{
                        alert(jqXHR.responseText);
                    }
                }
            });
        }

        function page(page) {
            location.href="/my-page/order-history/" + page;
        }

    </script>

</th:block>

</body>

</html>