<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout03}">
<head>
    <meta charset="UTF-8">
    <link href="/css/content.css" rel="stylesheet">
    <title>My page - Sign Out</title>
</head>
<body>

<div layout:fragment="content">

<div class="caution">
    <p>✓ 탈퇴한 계정은 <strong>복구가 불가</strong>하니 신중하게 선택해주세요.</p>
    <p>✓ 탈퇴 후 회원정보 및 개인형 서비스 이용기록은 <strong>모두 삭제</strong>됩니다.<br />
        마이페이지 등 개인형 서비스 이용기록은 모두 삭제되며, 삭제된 데이터는 복구되지 않습니다.</p>
    <p>✓ 탈퇴 후에도 <strong>게시판형 서비스에 등록한 게시물은 그대로 남아있습니다.</strong><br />
        커뮤니티에 올린 게시글 및 댓글은 탈퇴 시 자동 삭제되지 않고 그대로 남아있습니다.<br />
        삭제를 원하는 게시글이 있다면 반드시 탈퇴 전 비공개 처리하거나 삭제하시기 바랍니다.<br />
        탈퇴 후에는 회원정보가 삭제되어 본인 여부를 확인할 수 있는 방법이 없어, <strong>게시글을 임의로 삭제해드릴 수 없습니다.</strong>
    </p>

    <div class="form-check" style="display: flex; align-items: center; margin-top: 60px;">
        <input class= "form-check-input" type="checkbox" name="agree" value="agree" id="agree" style="margin-right: 6px; width: 14px; height: 14px;">
        <label class="form-check-label" for="agree" style="font-size: smaller;">안내 사항을 모두 확인하였으며, 이에 동의합니다.</label>
    </div>
</div>

<div class="buttonSetContainer" style="justify-content: center; margin-top: 40px; margin-bottom: 70px">
    <button class="buttonSet" style="width: 100px;">확인</button>
</div>

</div>

</body>
</html>